.header{
    background-color: var(--light);
    padding: 0.5rem 0;
}
.header .inner_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header_logo{
    display: inline-block;
}
.header .header_logo img{
    display: block;
}
.header .navigation ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navigation ul li{
    padding: 0;
}
.header .navigation ul li a{
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    color: var(--dark);
}
.header .navigation ul li a:hover{
    color: var(--light);
    background-color: var(--dark);
}
